# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      # - restore_cache:
      #     keys:
      #     - v1-dependencies-{{ checksum "requirements.txt" }}
      #     # fallback to using the latest cache if no exact match is found
      #     - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            cd project-ml-microservice-kubernetes
            make install
            #pip install -r requirements.txt
            wget https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64
            mv hadolint-Linux-x86_64 hadolint
            chmod +x hadolint
            sudo mv hadolint /bin/hadolint

      # - save_cache:
      #     paths:
      #       - ./venv
      #     key: v1-dependencies-{{ checksum "requirements.txt" }}
        
      # run tests!
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            cd project-ml-microservice-kubernetes
            make test
      # run lints!
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            cd project-ml-microservice-kubernetes
            make lint

      - run:
          name: Docker Install
          command: |
            . venv/bin/activate
            sudo apt-get install curl
            sudo apt-get install gnupg
            sudo apt-get install ca-certificates
            sudo apt-get install lsb-release
            sudo mkdir -p /etc/apt/keyrings
            sudo apt install apt-transport-https ca-certificates curl software-properties-common
            curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg

            ### Add Docker and docker compose support to the Ubuntu's packages list
            echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/sudo apt-get install docker-ce docker-ce-cli containerd.io docker-compose-pluginsudo apt-get install docker-ce docker-ce-cli containerd.io docker-compose-pluginlinux/ubuntu   $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
            sudo apt-get update
 
            ### Install docker and docker compose on Ubuntu
            sudo apt-get install docker-ce docker-ce-cli containerd.io docker-compose-plugin
            docker version

  # eksDeploy:
  #     - run:
  #       name: Deploy Cluster and workload
  #       command: |
  #         ./run_kubernetes.sh